.hero {
    height: 100vh;
}

h1 {
    font-size: 4rem;
}

.design {
    font-size: 9rem;
}

.find-out {
    letter-spacing: 3px;
    color: rgb(179, 179, 179);
    font-size: 0.8rem;
}

.number {
    font-family: 'DM Serif Display';
    font-size: 1rem;
}

/* FEATURED */
h2 {
    font-size: 1.5rem;
    letter-spacing: 2px;
    padding-top: 25px;
}

.item {
    border: 1px solid rgb(36, 36, 36);
}