*{
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
  }

body{
    font-family: 'Ubuntu', sans-serif;
    color: white;
}

/* HEADER AND NAVIGATION STYLES START */

header{
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    top: 0;
    background-color: black;
}

.icon-name{
    display: flex;
}

header div img{
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

header div h1{
    margin-top: 5px;
}

header nav{
    margin: 7px 0;
}

header nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin-top: 10px;
}

header nav ul li a {
    padding: 10px 15px;
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

header nav ul li a:hover{
    opacity: 0.1;
}

/* HERO STYLES */

.hero{
    background-image: url('../images/hero-img.png');
    background-size: cover;
    width: 100%;
    height: 650px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: fixed;
    background-position: 80%;
}

.intro-title{
    margin: 150px 20px 200px 300px;
    top: 100px;
    position: sticky;
    text-align: right;
} 

.hero p{
    font-size: 0.8rem;
}
#creative-developer{
    display: block;
}

/* HERO ENDS */

/* MAIN CONTENT */

main{
    padding: 50px 0px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #151515;
}

#bold-content-intro{
    font-size: large;
    font-weight: bold;
}

#small-text{
    width: 350px;
    font-size: 0.8rem;
    margin-top: 10px;
}
.main-info, .extra-info{
    width: 350px;
}

/* MAIN CONTENT ENDS */

/* WORK SECTION */
#work{
    background-color: lightgray;
    padding-bottom: 200px;
}
.portfolio-apps{
    padding-top: 50px;
    display: flex;
    justify-content: space-around;
}

#work h2{
    letter-spacing: 2rem;
    font-size: 3rem;
    text-align: center;
    text-decoration:underline;
    opacity: 0.4;
}

.first-app img{
    position: relative;
    width: 600px;
    margin: 20px 0px;
    transition: 0.2s;
}
.first-app img:hover, .second-app img:hover, .third-app img:hover{
    outline: none;
    border-color: white;
    box-shadow: 0 0 60px white;
    transform: scale(0.99);
}

.second-app img{
    height: 150px;
    width: 300px;
    margin: 20px;
    transition: 0.2s;
}

.third-app img{
    height: 150px;
    width: 300px;
    margin: 20px 20px 0px 20px;
    transition: 0.2s;
}

.second-app h3, .third-app h3{
    padding-left: 20px;
    font-size: 0.8rem;
}

.third-app{
    padding-top: 26px;
}

/* WORK SECTION ENDS */

/* ABOUT SECTION */
#about{
    display: flex;
    flex-wrap: wrap;
    background-color: #171717;
    padding-top: 50px;
}

#about h2{
    font-size: 15rem;
    color: black;
}

#intro-p{
    font-size: 3rem;
    width: 1000px;
    margin-left: 50px;

}

.content{
    display: flex;
    flex-wrap: wrap;
    margin: 40px;
}

#about article{
    width: 700px;
    text-align: justify;
    font-size: 1.1rem;
    margin: 40px;
}

article p{
    margin: 20px;
}

#about aside{
    margin: 40px;
    padding: 20px;
    width:200px;
    height: fit-content;
    outline: none;
    border-color: darkgray;
    box-shadow: 0 0 10px rgb(59, 59, 59);
}

#about aside ul li{
    list-style: none;
    margin: 20px 0px;
    font-style: italic;
}


/* ABOUT SECTION ENDS */

/* CONTACT SECTION */
#contact{
    background-color: black;
    padding: 0px 20px 200px 20px;
}

#contact h2{
    font-size: 15rem;
    color: rgb(30, 30, 30);
}
#contact img{
    width: 100px;
    height: auto;
    display: flex;
    align-items: flex-end;
}

/* CONTACT SECTION ENDS */
/* FOOTER */
footer{
    background-color: #151515;
    color: black;
    font-size: .8rem;
    padding: 20px 35px;
    display: flex;
    justify-content:baseline;
    bottom: 0;
}

footer img{
    width: 50px;
    height: 50px;
    margin-right: 20px;
}
footer h2{
    margin-top: 17px;
}

footer nav{
    display: flex;
    margin: 7px 40px;
}

footer nav::before{
    margin-top: 14px;
    content: "/";
    color: rgba(151, 151, 151, 0.3);
}

footer nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin-top: 10px;
}

footer nav ul li a {
    padding: 10px 15px;
    text-decoration: none;
    color: rgb(112, 112, 112);
    transition: 0.3s;
}

footer nav ul li a:hover{
    color: rgb(255, 255, 255);
}