* {
    font-family: "din-2014", sans-serif;
}

.project-gallery p {
    max-width: max-content;
}

body {
    background-color: black;
}

.hero p, h1, .hero h2 {
    margin-bottom: 0;
    font-weight: 400;
    font-size: 0.8rem;
    color: white;
}

.hero a {
    text-decoration: none;
    color: white;
}

.hero p span {
    font-weight: 200;
}

.horizontal-line {
    border-top: 1px solid rgb(0, 0, 0);
}

.project-gallery {
    background-color: rgb(245, 243, 239);
    color: black;
}
.project-gallery h2 {
    font-family: 'ivymode';
}

.project-gallery .col-6 {
    min-height: 80vh;
    padding: 0;
}
.project-gallery .col-6 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media (max-aspect-ratio: 1/1) {
    .hero {
        height: 100vh;
        background: url('../images/IMG_7387.png');
        background-position: top right 40%;
        background-size: 180%;
        background-repeat: no-repeat;
    }
}